/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/02/2020, 15:38:08
    Author     : depaula
*/

.title-table{
    margin: 0px;
    padding: 5px 15px 15px 0px;
    
    color: black;
    font-size: 12pt;
}


